extend partials/master

block title
	| Page title

block append metatags 
	meta(name='description', content='A description of the page')

block content
	.jumbotron
		.container
			h1 Welcome in TC New 2
			p Gulp workflow with Versioning!
	